# REQUIRED LANGCHAIN PACKAGES
streamlit
langchain
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

# REQUIRED THIRD-PARTY LIBRARIES (CRUCIAL FOR DEPENDENCIES)
pypdf                      # Dependency for PyPDFLoader
chromadb                   # Dependency for Chroma vectorstore
sentence-transformers      # Dependency for HuggingFaceEmbeddings
