# REQUIRED LANGCHAIN PACKAGES
streamlit
langchain
langchain-core            # <--- MUST BE PRESENT
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma

# REQUIRED THIRD-PARTY LIBRARIES (CRUCIAL FOR DEPENDENCIES)
pypdf                     # Dependency for PyPDFLoader
chromadb                  # Dependency for Chroma
sentence-transformers     # Dependency for HuggingFaceEmbeddings
